* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #656d73;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #83c092;
  background: #83c092;
  min-width: 32px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: rgba(54, 62, 68, 0.9);
  color: #dbbc7f;
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
  margin: 6px 5px;
}

#custom-notification {
  background: rgba(54, 62, 68, 0.9);
  color: #e69875;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 6px 5px;
}

#network {
  color: #7393b3;
}

#network.disconnected {
  color: #e67e80;
}

#bluetooth {
  color: #69a59d;
}

#battery {
  color: #83c092;
}

#battery.critical {
  color: #e67e80;
}

#backlight {
  color: #d3c6aa;
}

#wireplumber {
  color: #ecafcc;
}

#wireplumber.muted {
  color: #e67e80;
}

.modules-left,
.modules-center,
.modules-right, #tray {
  background: rgba(54, 62, 68, 0.9);
  border-radius: 12px;
  padding: 7px;
  margin: 6px 5px;
}

.modules-left {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
