* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: rgba(54, 62, 68, 0.9);
  border-radius: 12px;
  padding: 2px 6px;
}

#workspaces button {
  color: #656d73;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #83c092;
  background: #83c092;
  min-width: 24px;
  min-height: 0;
  margin: 4px 5px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: #dbbc7f;
  color: rgba(54, 62, 68, 0.9);
  border-radius: 12px;
  padding: 3px 10px 3px 16px;
}

#custom-notification {
  background: rgba(54, 62, 68, 0.9);
  color: #e69875;
  border-radius: 12px;
  padding: 3px 14px 3px 12px;
  margin: 0 6px;
}

#tray {
  background: rgba(54, 62, 68, 0.9);
  border-radius: 12px;
  padding: 0 8px;
  margin: 0 6px;
}

#network { color: #7393b3; }
#network.disconnected { color: #e67e80; font-size: 18px; }
#bluetooth { color: #69a59d; font-size: 18px; }
#battery { color: #83c092; }
#battery.critical { color: #e67e80; }
#backlight { color: #d3c6aa; }
#wireplumber { color: #ecafcc; }
#wireplumber.muted { color: #e67e80; font-size: 18px; }

.modules-right {
  background: rgba(54, 62, 68, 0.9);
  border-radius: 12px;
  padding: 0 4px;
  margin: 4px 5px 0 5px;
}

.modules-left, .modules-center {
  background: transparent;
  border-radius: 0px;
  padding: 0;
  margin: 4px 5px 0px 5px;
}
