* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #5d6165;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #F8B3CC;
  background: #F8B3CC;
  min-width: 32px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: rgba(37, 41, 45, 0.9);
  color: #ECE3B1;
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
  margin: 6px 5px;
}

#custom-notification {
  background: rgba(37, 41, 45, 0.9);
  color: #F1C192;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 6px 5px;
}

#network {
  color: #A3CBE7;
}

#network.disconnected {
  color: #e5a3a1;
}

#bluetooth {
  color: #94D2CF;
}

#battery {
  color: #B4E3AD;
}

#battery.critical {
  color: #e5a3a1;
}

#backlight {
  color: #FFDEDE;
}

#wireplumber {
  color: #CEACE8;
}

#wireplumber.muted {
  color: #e5a3a1;
}

.modules-left,
.modules-center,
.modules-right, #tray {
  background: rgba(37, 41, 45, 0.9);
  border-radius: 12px;
  padding: 7px;
  margin: 6px 5px;
}

.modules-left {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
