* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #5d6169;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #51afef;
  background: #51afef;
  min-width: 32px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: rgba(40, 44, 52, 0.75);
  color: #ECBE7B;
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
  margin: 6px 5px;
}

#custom-notification {
  background: rgba(40, 44, 52, 0.75);
  color: #ea9558;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 6px 5px;
}

#network {
  color: #51afef;
}

#network.disconnected {
  color: #ff6c6b;
  font-size: 18px;
}

#bluetooth {
  color: #4db5bd;
  font-size: 18px;
}

#battery {
  color: #98be65;
}

#battery.critical {
  color: #ff6c6b;
}

#backlight {
  color: #bbc2cf;
}

#wireplumber {
  color: #dc8ef3;
}

#wireplumber.muted {
  color: #ff6c6b;
  font-size: 18px;
}

.modules-left,
.modules-center,
.modules-right, #tray {
  background: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 7px;
  margin: 6px 5px;
}

.modules-left {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
