* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 2px 6px;
  margin: 4px 3px;
}

#workspaces button {
  color: #5d6169;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #51afef;
  background: #51afef;
  min-width: 24px;
  margin: 4px 5px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: #ECBE7B;
  color: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 0 10px;
  margin: 6px 3px;
}

#custom-notification {
  background: #ea9558;
  color: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 0 13px 0 12px;
  margin: 4px 3px;
}

#tray {
  background: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 0 8px;
  margin: 4px 3px;
}

#network { color: #51afef; }
#network.disconnected { color: #ff6c6b; font-size: 18px; }
#bluetooth { color: #4db5bd; font-size: 18px; }
#battery { color: #98be65; }
#battery.critical { color: #ff6c6b; }
#backlight { color: #bbc2cf; }
#wireplumber { color: #dc8ef3; }
#wireplumber.muted { color: #ff6c6b; font-size: 18px;}

.modules-right {
  background: rgba(40, 44, 52, 0.75);
  border-radius: 12px;
  padding: 0 4px;
  margin: 4px 5px;
}

.modules-left, .modules-center {
  background: transparent;
  border-radius: 0px;
  padding: 0;
  margin: 0;
}
