* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

#workspaces button {
    color: rgba(255, 255, 255, 0.4);
    padding: 0 5px;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    color: #d4d4d4;
    padding: 0 10px;
}

#custom-date {
  padding: 0 8px;
  border-radius: 6px;
  background: #fcbcb8;
  color: #2b2d42;
}

#custom-notification, #network, #bluetooth, #battery, #wireplumber, #backlight {
    padding: 0 8px;
    border-radius: 6px;
    color: #ffffff;
}

#custom-notification {
  margin-right: 6px;
  padding-right: 10px;
  background: #ffd166;
  color: #2b2d42;
}

#network {
  background: #826ef3;
  margin-left: 8px;
}

#bluetooth {
  background: #5aa9e6;
  font-size: 18px;
  margin-left: 8px
}

#battery {
  background: #ffee93;
  margin-left: 8px;
  color: #2b2d42;
}

#backlight {
  background: #cec2d6;
  margin-left: 8px;
}

#wireplumber {
  background: #f08080;
}

#battery.critical {
    color: #f38ba8;
}

.modules-left, .modules-center, .modules-right {
    background: rgba(60, 60, 60, 0.5);
    border-radius: 8px;
    padding: 7px;
}

.modules-left {
    margin: 6px 0 0px 5px;
}

.modules-center {
    margin: 6px 0 0px 0;
}

.modules-right {
    margin: 6px 5px 0px 0;
}
