* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: rgba(35, 33, 58, 0.75);
  border-radius: 12px;
  padding: 2px 6px;
}

#workspaces button {
  color: #555394;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #aaffe4;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: #aaffe4;
  color: rgba(35, 33, 58, 0.75);
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
}

#custom-notification {
  background: rgba(35, 33, 58, 0.75);
  color: #f48fb1;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 0 5px;
}

#tray {
  background: transparent;
  border-radius: 12px;
  padding: 0 8px;
  margin: 4px 3px;
}

#network { color: #91ddff; }
#network.disconnected { color: #f48fb1; font-size: 18px; }
#bluetooth { color: #aaffe4; font-size: 18px; }
#battery { color: #a1efd3; }
#battery.critical { color: #ff5458; }
#backlight { color: #cbe3e7; }
#wireplumber { color: #d4bfff; }
#wireplumber.muted { color: #ff5458; font-size: 18px; }

.modules-right {
  background: rgba(35, 33, 58, 0.75);
  border-radius: 12px;
  padding: 0 4px;
  margin: 6px 5px 0px 5px;
}

.modules-left, .modules-center {
  background: transparent;
  border-radius: 0px;
  padding: 0;
  margin: 6px 5px 0px 5px;
}
