* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #555394;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #aaffe4;
  background: #aaffe4;
  min-width: 32px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: rgba(35, 33, 58, 0.75);
  color: #ffe9aa;
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
  margin: 6px 5px;
}

#custom-notification {
  background: rgba(35, 33, 58, 0.75);
  color: #f48fb1;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 6px 5px;
}

#network {
  color: #91ddff;
}

#network.disconnected {
  color: #f48fb1;
  font-size: 18px;
}

#bluetooth {
  color: #aaffe4;
  font-size: 18px;
}

#battery {
  color: #a1efd3;
}

#battery.critical {
  color: #ff5458;
}

#backlight {
  color: #cbe3e7;
}

#wireplumber {
  color: #d4bfff;
}

#wireplumber.muted {
  color: #ff5458;
  font-size: 18px;
}

.modules-left,
.modules-center,
.modules-right, #tray {
  background: rgba(35, 33, 58, 0.75);
  border-radius: 12px;
  padding: 7px;
  margin: 6px 5px;
}

.modules-left {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
