* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #9399b2;
  padding: 0 5px;
  margin: 0 5px;
}

#workspaces button.active {
  color: #ccb89c;
  background: #ccb89c;
  min-width: 32px;
  border-radius: 999px;
}

#tray,
#custom-date-clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#wireplumber,
#backlight {
  padding: 0 10px;
  background: transparent;
  border: none;
}

#custom-date-clock {
  background: rgba(39, 40, 46, 0.9);
  color: #deb88a;
  border-radius: 12px;
  padding: 7px 10px 7px 16px;
  margin: 6px 5px;
}

#custom-notification {
  background: rgba(39, 40, 46, 0.9);
  color: #cd9672;
  border-radius: 12px;
  padding: 7px 14px 7px 12px;
  margin: 6px 5px;
}

#network { color: #8d9bb3; }
#network.disconnected { color: #a67476; font-size: 18px;}
#bluetooth { color: #7aacaa; font-size: 18px; }
#battery { color: #8aa387; }
#battery.critical { color: #a67476; }
#backlight { color: #e0d6bd; }
#wireplumber { color: #b8aad9; }
#wireplumber.muted { color: #a67476; font-size: 18px;}

.modules-left,
.modules-center,
.modules-right, #tray {
  background: rgba(39, 40, 46, 0.9);
  border-radius: 12px;
  padding: 7px;
  margin: 6px 5px;
}

.modules-left {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
